/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-red: #eb343d;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

/* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  background-image: url("background.png");
  background-size: cover;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  cursor: default;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.section {
  max-width: 85%;
  margin: 0 auto;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-white);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__logo {
  font-size: 36px;
  color: var(--color-red);
  margin-right: 12px;
}

.navbar__title {
  font-size: 48px;
  margin-right: 24px;
}

.navbar__description {
  font-size: 20px;
  padding-top: 20px;
}

.navbar__right {
  display: flex;
  justify-content: flex-end;
}

.navbar__right a {
  color: var(--color-white);
  margin-left: 18px;
  margin-top: 30px;
}

.navbar__right a:hover {
  color: var(--color-red);
  text-decoration: none;
}

/* Playlist */
#playlist {
  padding-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
}

#playlist.section a {
  color: var(--color-white);
}

.iframe-wrap {
  border:2px solid #ccc; 
  margin: 30px auto;
  text-align: center;
  display: flex;
}

.iframe-wrap iframe {
  width:200px;
  height:200px;
  border:none;
  display:block;
}

.playlist__info {
  display: inline-block;
}

/* Contact */
#contact {
  text-align: right;
}

.contact__links {
  font-size: 36px;
}

.fa-github,
.fa-youtube {
  color: var(--color-red);
  margin-left: 8px;
}

/* New */

form input,
form textarea {
  width: 30%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  background-color: var(--color-white);
  border-radius: 5px;
}

form input[type="submit"] {
  width: 15%;
  margin-top: 30px;
  background-color: var(--color-blue);
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}