<%# Navbar %>
<nav id="navbar" class="section">
  <div class="navbar__left">
    <div class="navbar__logo">
      <a href="/">
        <i class="fas fa-meteor"></i>
      </a>
    </div>
    <h1 class="navbar__title">PLAYLIST</h1>
  </div>
</nav>